<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    {% if not request.user.is_authenticated %}
    <li class="breadcrumb-item"><a href="{% url 'login' %}">Login</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'accounts:signup' %}">Signup</a></li></li>
    {% endif %}
    {% if request.user.is_authenticated %}
    <li class="breadcrumb-item"><a href="/accounts/{{user.pk}}">User Account</a></li></li>
    <li class="breadcrumb-item"><a href="{% url 'logout' %}">Logout</a></li></li>
    {% endif %}
  </ol>
</nav>
<br />